# dependencies
node_modules
.pnpm-store

# build
dist
.tsup

# test
coverage

# typescript
*.tsbuildinfo

# mock files
packages/js/__mocks__/**
packages/python/__mocks__/**
packages/ts/__mocks__/**

# misc
CLAUDE.md
.claude
.DS_Store
*.pem
.eslintcache