# dependencies
node_modules
.pnpm-store

# build
dist
.tsup
docs/build

# test
coverage

# typescript
*.tsbuildinfo

# local
**/*.local*

# misc
CLAUDE.md
.claude
.DS_Store
*.pem
.eslintcache
.structurizr